@import "@/assets/normalize.css";
/* @import url('@/assets/font/font.css'); */
@import 'https://at.alicdn.com/t/c/font_4179759_9hwhc7qk0zc.css';
/* @import "@/assets/global.css"; */
html {
  min-width: 1090px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'Harmony Font';
  font-size: 14px;
  background-color: #fafafa;
  min-width: 1090px;
  line-height: 1.25;
}
:root{
  --v-max-w: 2560px;
  --bg1: #FFFFFF;
  --bg1_float: #FFFFFF;
  --text1: #18191C;
  --text2: #61666D;
  --text3: #9499A0;
  --graph_weak: #C9CCD0;
  --graph_icon: #61666D;
  --graph_bg_thin: #F6F7F8;
  --graph_bg_thick: #E3E5E7;
  --graph_bg_regular:#F1F2F3;
  --line_regular:#E3E5E7;
  --line_light: #F1F2F3;
  --Lb0: #ECFAFE;
  --Lb1: #DFF6FD;
  --Lb2: #BFEDFA;
  --Lb3: #80DAF6;
  --Lb4: #40C5F1;
  --Lb5: #00AEEC;
  --Lb6: #008AC5;
  --Lb7: #00699D;
  --Lb8: #004B76;
  --Lb9: #002F4F;
  --Lb10: #001627;
  --Lb0_u: #ECFAFE;
  --Lb1_u: #DFF6FD;
  --Lb2_u: #BFEDFA;
  --Lb3_u: #80DAF6;
  --Lb4_u: #40C5F1;
  --Lb5_u: #00AEEC;
  --Lb6_u: #008AC5;
  --Lb7_u: #00699D;
  --Lb8_u: #004B76;
  --Lb9_u: #002F4F;
  --Lb10_u: #001627;
  --Pi0: #FFF3F6;
  --Pi1: #FFECF1;
  --Pi2: #FFD9E4;
  --Pi3: #FFB3CA;
  --Pi4: #FF8CB0;
  --Pi5: #FF6699;
  --brand_pink: #FF6699;
  --brand_pink_hover:#f992af;
  --brand_blue: #00AEEC;
  --stress_red:#F85A54;
  --Or1: #FFF0E3;
  --Or5: #FF7F24;
  --stress_red: #F85A54;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
}
.suggest_high_light {
  color: #f25d8e;
  font-style: normal;
}
.v-img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.v-ui {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
}

.v-ui-panel {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.v-ui-panel.v-ui-dark {
  background: hsla(0,0%,8%,.9);
  border: none;
}

.v-ui .v-ui-area {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  line-height: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 100%;
}

.v-ui-panel .v-ui-panel-wrap {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.v-ui-panel .v-ui-panel-move {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s,-webkit-transform .25s;
}

.v-ui-panel .v-ui-panel-item, .v-ui-panel .v-ui-panel-move {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.v-ui-panel .v-ui-panel-item, .v-ui-panel .v-ui-panel-move {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.v-ui-panel .v-ui-panel-item {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.v-ui-panel .v-ui-panel-item.v-ui-panel-item-active {
  opacity: 1;
  pointer-events: auto;
}

.v-ui-switch {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.v-ui-switch .v-ui-switch-input {
  cursor: pointer;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.v-ui-switch .v-ui-switch-label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.v-ui-switch .v-ui-switch-name {
  position: relative;
}

.v-ui-switch:hover .v-ui-switch-name {
  color: var(--brand_pink);
}

.v-ui-switch .v-ui-switch-body {
  background: #757575;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  outline: none;
  vertical-align: middle;
  width: 30px;
}

.v-ui-switch .v-ui-switch-body, .v-ui-switch .v-ui-switch-dot {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.v-ui-switch.checked .v-ui-switch-label .v-ui-switch-body {
  background: var(--brand_pink);
}

.v-ui-switch .v-ui-switch-dot {
  fill: #757575;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 3px 0 rgba(0,0,0,.05);
  box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 3px 0 rgba(0,0,0,.05);
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  justify-content: center;
  left: 2px;
  line-height: 16px;
  text-align: center;
  top: 2px;
  width: 16px;
}

.v-ui-switch.checked .v-ui-switch-label .v-ui-switch-body .v-ui-switch-dot {
  fill: var(--brand_pink);
  color: var(--brand_pink);
  left: 100%;
  top: 1px;
  margin-left: -18px;
}

.v-ui-switch .v-ui-switch-dot span {
  display: inline-block;
  font-size: 0;
  height: 10px;
  width: 10px;
}

.vip-name {
  color: var(--Pi4) !important;
}
a {
  color: var(--text1);
  text-decoration: none;
  transition: color .2s ease, background-color .2s ease;
}

a:hover {
  color: var(--brand_pink);
}

@media (min-width: 1140px) and (max-width: 1559.9px) {
  :root {
      --layout-padding: 60px;
  }
}

@media (min-width: 1560px) {
  :root {
      --layout-padding: 140px;
  }
}

/* 视频卡片 */
.video-card{
  position: relative;
  --title-font-size: 15px;
  --title-line-height: 22px;
  --subtitle-font-size: 13px;
  --subtitle-line-height: 17px;
  --info-margin-top: 8px;
  --avatar-size:36px;
  --avatar-margin-right:8px;
  --icon-size:18px;
  --title-padding-right:16px;
  --follow-icon-font-size:12px;
  --follow-icon-line-height:17px;
  --cover-radio:56.25%;
}

.video-card a {
  transition: color .2s linear;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.video-card a:not(.disable-hover):hover {
  color: var(--brand_pink);
}

.video-card .iconfont {
  margin-right: 2px;
}

.video-card__skeleton {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.video-card__skeleton.hide {
  visibility: hidden;
}

.video-card__skeleton--cover {
  padding-top: var(--cover-radio);
  border-radius: 6px;
  background-color: var(--graph_bg_regular);
}

.video-card__skeleton--info {
  margin-top: var(--info-margin-top);
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.video-card__skeleton--right {
  min-width: 0;
  flex: 1;
}

.video-card__skeleton--text {
  margin-bottom: 4px;
  width: 94%;
  height: calc(var(--title-line-height) - 4px);
  border-radius: 4px;
  background-color: var(--graph_bg_regular);
}

.video-card__skeleton--text.short {
  width: 72%;
}

.video-card__skeleton--light {
  margin-top: 8px;
  width: 50%;
  height: var(--subtitle-line-height);
  border-radius: 4px;
  background-color: var(--graph_bg_regular);
}

.video-card .loading_animation .video-card__skeleton--cover,
.video-card .loading_animation .video-card__skeleton--text,
.video-card .loading_animation .video-card__skeleton--light {
    background: linear-gradient(-45deg,var(--graph_bg_regular) 25%,var(--bg1) 45%,var(--graph_bg_regular) 65%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.2s ease-in-out infinite;
}

.video-card__wrap{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--bg1);
}

.video-card__image{
  position: relative;
  z-index: 1;
  border-radius: 6px;
}

.video-card__image--wrap {
  padding-top: var(--cover-radio);
  border-radius: inherit;
  background-color: var(--graph_bg_regular);
  cursor: pointer;
}

.video-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  background-color: var(--graph_bg_regular);
}

.video-card__cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

.video-card__mask{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all .2s linear .2s;
  pointer-events: none;
}

.video-card__stats{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 16px 8px 6px;
  width: 100%;
  height: 38px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%);
  color: #fff;
  font-size: var(--subtitle-font-size);
  line-height: var(--icon-size);
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-card__stats--left{
  min-width: 0;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.video-card__stats--item{
  margin-right: 12px;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.video-card__stats--text{
  word-break: keep-all;
}

.video-card__info{
  margin-top: var(--info-margin-top);
  min-height: calc(var(--title-line-height) * 2 + var(--subtitle-line-height) + 4px);
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.video-card__info--right {
  min-width: 0;
  flex: 1;
}

.video-card__info--tit{
  padding-right: var(--title-padding-right);
  color: var(--text1);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  height: calc(2 * var(--title-line-height));
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  word-break: break-word;
  line-break: anywhere;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.video-card__info--tit>a {
  font-weight: 500;
  color: var(--text1);
}

.video-card__info--bottom{
  margin-top: 4px;
  color: var(--text3);
  font-size: var(--subtitle-font-size);
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.video-card__info--icon-text{
  flex-shrink: 0;
  display: inline-block;
  color: var(--Or5);
  background-color: var(--Or1);
  border-radius: 4px;
  margin-right: 4px;
  font-size: var(--follow-icon-font-size);
  line-height: var(--follow-icon-line-height);
  height: var(--follow-icon-line-height);
  padding: 0 4px;
  cursor: default;
}

.video-card__info--owner{
  cursor: pointer;
  transition: color .2s linear;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.video-card__info--author {
  flex: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  word-break: break-word;
  line-break: anywhere;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  line-height: var(--subtitle-line-height);
}

.video-card__info--date {
  margin-left: 4px;
  line-height: var(--subtitle-line-height);
}

@keyframes skeleton-loading {
  0% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@media (min-width: 1367px) and (max-width: 1700.9px) {
  .video-card {
      --info-margin-top: 10px;
  }
}

@media (min-width: 1701px) and (max-width: 2199.9px) {
  .video-card {
      --info-margin-top: 10px;
      --subtitle-font-size: 13px;
      --title-padding-right: 24px;
  }
}

@media (min-width: 2200px) {
  .video-card {
      --title-font-size: 16px;
      --title-line-height: 24px;
      --subtitle-font-size: 14px;
      --subtitle-line-height: 19px;
      --info-margin-top: 12px;
      --avatar-size: 40px;
      --avatar-margin-right: 12px;
      --icon-size: 20px;
      --title-padding-right: 24px;
  }
}

/* 弹幕 */
.dm{
  position: absolute;
  -webkit-touch-callout: none;
  color: var(--color,#fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--fontSize,25px);
  font-weight: var(--fontWeight,bold);
  line-height: 1.125;
  opacity: 0;
  -webkit-perspective: 500px;
  perspective: 500px;  /* 视距*/
  text-shadow: 1px 0 1px #000000,0 1px 1px #000000,0 -1px 1px #000000,-1px 0 1px #000000;
  top: var(--top);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre;
  will-change: transform, opacity;
  box-sizing: initial;
}

.state-paused .dm {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.dm-show .dm {
  opacity: 1;
  opacity: var(--opacity,1);
}

.dm.roll {
  left: var(--offset);
  -webkit-animation: roll linear var(--duration) forwards;
  animation: roll linear var(--duration) forwards;
}

@keyframes roll {
  0% {
      -webkit-transform: translateX(0) translateZ(0);
      transform: translateX(0) translateZ(0);
  }
  100% {
      -webkit-transform: translateX(var(--translateX)) translateZ(0);
      transform: translateX(var(--translateX)) translateZ(0);
  }
}

.dm.center {
  left: 50%;
  /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%); */
  will-change: opacity;
  -webkit-animation: stop linear var(--duration) forwards;
  animation: stop linear var(--duration) forwards;
}

@keyframes stop {
  0% {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  100% {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }
}